#headerTitle {
  float: left;
  width: 200px;
}

#cartButton {
  width: 150px;
  margin-left: 30%;
}

html {
  background-color: rgb(244, 227, 229);
}

#catBar {
  margin-top: 124px;
}

// #footer {
//   margin-top: 200px;
// }